//@import "summernote.min.scss";
#blockList{
    overflow: hidden;
    //top: 5vh;
}
.menu.ui-sortable{
    li{
        list-style: none;
        .menu-item-bar{
            width: 100%;
        }
    }
}
#contentForm{
    padding: 1rem;
    .row.iterations{
        display: flex;
        flex-wrap: wrap;
    }
    .row{
        padding: 1rem;
        > .col-3{
            min-width: 30%;
            padding: 20px;
            &.column{
                flex-direction: column;
                display: flex;
                .iteration-buttons{
                    width: 100%;
                }
                .form-group{
                    width: 100%;
                }
            }
        }
        > .col-2{
            min-width: 50%;
            padding: 20px;
            &.column{
                flex-direction: column;
                display: flex;
                .iteration-buttons{
                    width: 100%;
                }
                .form-group{
                    width: 100%;
                }
            }
        }
        > .col-4{
            min-width: 25%;
            padding: 20px;
            &.column{
                flex-direction: column;
                display: flex;
                .iteration-buttons{
                    width: 100%;
                }
                .form-group{
                    width: 100%;
                }
            }
        }

    }
    .hide, .move{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        float: none;
    }
    .tab-content{
        .tab-pane{
            .iterations{
                > .saved-iteration, > .new-iteration{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .iteration-buttons{
                        width: 100%;
                        display: flex;
                        flex-wrap: nowrap;
                    }
                    .form-group{
                        flex: 1;
                        margin-right: 1rem;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
.modal-header{
    display: flex;
    flex-wrap: wrap;
    .modal-title{
        width: 100%;
    }
}
#templateList{
    height: 100%;
    overflow-y: scroll;
    width: calc(100% - 20px);
    max-width: calc(25% - 20px);
    margin-right: 20px;
    padding-right: 10px;
    max-height: 90vh;
    position: sticky;
    top: 5vh;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #D6D6D6;
        width: 4px;
        border-right: 1px solid white;
        border-left: 1px solid white;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb {
        background: #1D8FBD;
        width: 4px;
    }
    .template-item{
        img{
            width: 100%;
        }
    }
}
.admin-template-row{
    //align-items: flex-start;
    //overflow: hidden;
}
.sidebar-dark-primar{
    background-color: #132238!important;
}
.badge-success{
    background-color: white;
    color: #132238;
}
.has-treeview{
    .nav-treeview{
        i{
            color: transparent;
        }
    }

}
.field-iteration, .field-repeater{
    border: 1px solid #ced4da;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    > .field-input{
        width: 100% !important;
    }
    >.field-repeater{
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
    >.field-iteration, >.field-repeater{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 0 1rem 0;
        border: none;
        margin-bottom: 0;
        > div{
            width: calc(((100% - 40px) / 3) - 20px);
            @media all and (max-width: 768px){
                width: 100%;
            }
        }
        > .field-input{
            width: 32% !important;
            @media all and (max-width: 768px){
                width: 100% !important;
            }
        }
    }

}
.card-body{
    > .add-iteration{
        width: 100%;
    }
    > .tab-content{
        .tab-pane{
            > .iterations{
                display: flex;
                flex-wrap: wrap;
                > div{
                    width: 100%;
                    .iterations{
                        > div{
                            width: 100%;
                            .field-input{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.form-group.field-image, .form-group .input-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    label{
        width: 100%;
    }
    .note-editor{
        width: 100%;
    }
    img{
        max-height: 100px;
        margin-right: 1rem;
    }
    //.input-group{
    //    width: 50%;
    //}
}
.remove-iteration{
    margin-bottom: 1rem;
}
.programs-field{
    .add-iteration{
        //margin-top: 1rem;
    }
    &.field-repeater, &.field-iteration{
        .field-repeater{

        }
        .form-group{
            margin-bottom: 1rem;
        }
        .field-repeater, .field-iteration{
            padding-bottom: 0;
            label{
                display: none;
            }
            &:nth-child(2){
                label{
                    display: inline-block;
                }
            }
        }
    }
}
.module-create-items{
    .input-group{
        label{
            width: 100%;
        }
    }

    .module-attributes{
        border: 1px solid #ced4da;
        box-shadow: 0 0 10px 0 rgb(0 23 46 / 10%);
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 1rem;
    }
}
.nav-sidebar .nav-header{
    font-size: .9rem;
    padding: 0.5rem!important;
    display: flex;
    align-items: flex-end;
    opacity: 0.5;
    span{
        //white-space: nowrap;
        display: block;
        margin-right: 0.5rem;
        opacity: 0.5;
    }
    //&:after{
    //    content: "";
    //    display: block;
    //    flex: 1;
    //    height: 1px;
    //    background-color: white;
    //    opacity: 0.2;
    //}
}
.brand-link{
    .brand-image{
        opacity: 1!important;
        max-height: none!important;
        width: calc(100% - 2rem) !important;
        margin-left: 1rem!important;
        margin-right: 1rem!important;
        &.elevation-3{
            box-shadow: none!important;
        }
    }
}
.module-creator-item{
    .btn-group-vertical>.btn, .btn-group>.btn{
        flex: 0!important;
    }
    .btn-group{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}
.icheck-primary-items{
    > label{
        display: block;
    }
    .icheck-primary{
        span{
            background-color: #D9D9D9;
            padding: 10px 20px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 26px;
            font-weight: 400;
            display: inline-block;
            text-transform: uppercase;
        }
        input{
            display: none;
            &:checked + span{
                background-color: #132238;
                color: white;
            }
        }
    }
}
.attribute-fields{
    border: 1px solid #ced4da;
    box-shadow: 0 0 10px 0 rgb(0 23 46 / 10%);
    padding: 1rem;
    > .attribute-fields{
        margin-top: 1rem;
    }
    > .input-group{
        border: 1px solid #ced4da;
        box-shadow: 0 0 10px 0 rgb(0 23 46 / 10%);
        padding: 1rem;
        margin-bottom: 1rem;
    }
}
.template-wrapper{
    display: flex;
    .devider-item{
        flex: 1;
    }
}
th.clicked{
    svg{
        transform: scale(1, -1);
    }
}
.nav-sidebar {
    .nav-item{
        > .nav-link{
            i{
                width: 17px;
                margin-right: 0.5rem;
            }
        }
    }
}
.modules-synch-grpup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .module-attributes-synch{
        display: block;
        width: calc(50% - 0.5rem);
        max-height: 300px;
        overflow-y: scroll;
        .icheck-primary-synch{
            span{
                margin-left: 0.5rem;
                font-weight: 400;
            }
        }
    }
}
.content-wrapper{
    > .content{
        padding-bottom: 1rem!important;
        .container-fluid{
            .card{
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
.menu-all-items{
    font-size: 1.3rem;
}
.menu-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    p{
        margin-bottom: 0;
    }
}
.delete-menu{
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
    display: inline-block;
    &:hover{
        color: white;
    }
}
.panel-group, .menu.ui-sortable{
    padding: 1rem;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    .panel.panel-default{
        margin-bottom: 0.3rem;
        border: 1px solid #c3c4c7;
        input{
            margin-right: 1rem;
        }
        .panel-heading{
            padding: 0.8rem;
            line-height: 1.5;
            color: #1d2327;
            background-color: #132238 ;
            border: 1px solid #c3c4c7;
            a{
                color: white;
            }
        }
        .panel-collapse{
            .item-list-body{
                padding: 1rem;
            }
        }
        .item-list-body{
            background-color: #FFFFFF;
            max-height: 240px;
        }
    }
}

.variable-value{
    #option_checkbox{
        justify-content: flex-start;
        display: flex;
        align-items: center;
        input[type="checkbox"]{
            display: inline-block;
            flex: none;
            margin-right: 1rem;
            height: auto;
        }
        label{
            margin-bottom: 0;
        }
    }
}
.trainings-field{
    align-items: flex-end;
    h4{
        width: 100%;
    }
    .form-group{
        width: calc(33.3333% - 14px) !important;
    }
    .add-iteration-module{
        width: 100%;
    }
}