$px: .0520833333333; //1920
$pxt: .0714285714285714; //1400
$pxtm: .09765625; //1024
$pxmb: .1302083333333333; //768
$pxm: .3125; //320

$blue: #0E6D8B;
$yellow: #F6E04F;
$black: #181818;
$grey: #F4F4F4;
$hoverbutton: #41B718;
